/* cascading style sheet */
/* Declaring CSS Variables */
:root {
  --yellow-yellow: yellow;
  --primary-font-size: 2.5rem;
  --primary-border: 2px dashed green;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .first-style{
    color: red;
} */

/* article p:first-of-type{
    color: red;
}
article p:last-of-type{
    color: green;
} */

/* Universal Selector */
/* *{
    color: red;
} */

/* Type Selector  */
/* article {
    color: yellow;
} */

/* Class Selectors */
/* .p-1 {
   color: red; 
} */

/* .p-2{
    color: green;
} */

/* ID Selectors  */
/* #first-id{
    color: blue;
} */

/* Attribute Selectors  */
/* [data-type="primary"]{
    color: aqua;
} */
/* [data-type]{
    color: darkorchid;
} */

/* [href="https://mountkenyawe.co.ke/"]{
    color: red;
} */

/* [href^="https"]{
    color: burlywood;
} */

[data-type="primary"],
article,
mark,
#first-id {
  color: aqua;
}

#first-id:hover {
  color: red;
}

/* p:nth-child(even){
    background-color: blue;
} */

/* Pseudo-elements differ from pseudo-classes because instead of responding to the platform state, they act as if they are inserting a new element with CSS. Pseudo-elements are also syntactically different from pseudo-classes, because instead of using a single colon (:), we use a double colon (::). */
.p-1::after {
  content: " -20";
}
li::marker {
  content: "- ";
  color: red;
}

mark::selection {
  background-color: white;
}

li::selection {
  background-color: rgb(50, 211, 5);
}

/* any h3 descendant of .sec-1  */
/* .sec-1 h3{
    color: darkorange;
} */

/* direct h3 descendant of .sec-1 */
/* .sec-1 > h3{
    color: darkorange;
} */

.sec-1 > div > h3 {
  color: darkorange;
}

/* Next Sibling Selector */
.next-sibling > p {
  color: yellow;
  margin-top: 2.5em;
}

li:first-of-type + li {
  color: rosybrown;
  font-weight: bold;
}

li:has(+ li:last-of-type) {
  color: green;
  font-size: 3rem;
}

.li * {
  margin-top: 4rem;
}
/* relative unit  */
/* body{
    font-size: 60px;
} */
/* absolute units  */
.bld {
  font-size: 3rem;
}

.absolute-unit {
  font-size: 12px;
  border: 1px dashed red;
}
.em-unit {
  font-size: 6em;
}

/* absolut units "px" */
/* The root element is always <html> */
/* html{
    font-size: 48px;
} */

/* .def-font{
    font-size: 30px;
}  */

/* Relative Units - They change relative to other elements size*/
/* root em - rem 
em  -  fully changes relative to parent element of the children elements
%  - changes relative to the normal width of a parent container
vw 
vh */
.child-el-1 {
  font-size: 3rem;
}

.child-el-2 {
  font-size: 1.5rem;
}

.child-el-3 {
  font-size: 5rem;
}

.em-font {
  font-size: 20px;
}

.em-1 {
  font-size: 1.5em;
}

.btn-em {
  font-size: 0.8em;
}

.img-el {
  width: 100%;
  border: 1px solid red;
}

img {
  width: 33.33%;
  height: 70vh;
}

.vw-vh {
  width: 33.33vw;
  height: 70vh;
}

/* Box Model  */
/* .box-model {
  position: relative;
  left: 50px;
  top: 50px;
  width: 100px;
  height: 50px;
  padding: 1.5rem;
  border: 5px solid rgb(84, 4, 244);
} */

/* padding  */
/* .home{ */
/* padding: 3rem 0.5rem 6rem 2rem; */
/* padding-top: 3rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-bottom: 2rem; */
/* } */

/* margin  */
/* .home{ */
/* margin: 3rem 0.5rem 2rem 4rem; */
/* margin-top: 3rem;
    margin-right: 0.5rem;
    margin-bottom: 2rem;
    margin-left: 4rem; */
/* } */

.home {
  padding: 4rem;
}

.nav {
  border: 2px dashed red;
}

.border {
  margin-bottom: 1rem;
  font-size: 0.8rem;
  background-color: red;
  color: white;
  border: 1px solid red;
  /* border-width: 1px;
  border-style: solid;
  border-color: red; */
  border-radius: 2px;
  box-sizing: border-box;
}

/* CSS Positioning  */
.box-model {
  position: fixed;
  right: 100px;
  /* top: 50px; */
  width: 100px;
  height: 50px;
  padding: 1.5rem;
  border: 5px solid rgb(84, 4, 244);
}
.relative {
  position: relative;
  width: 100px;
  height: 50px;
  border: 1px solid red;
}
.absolute {
  /* position: absolute; */
  bottom: 60px;
}

.sticky {
  position: sticky;
  color: var(--yellow-yellow);
  /* color: #fff; */
  padding: 0.5rem;
  top: 20px;

  /* background-color: var(--yellow-yellow); */
  /* background-color: aqua; */
  border: 1px dotted yellow;
}

/* CSS VARIABLES */
/* Using CSS Variables  */
.css-variable {
  color: #e50046;
  background-color: rgba(0, 255, 0, 0.5);
  /* background-color: var(--yellow-yellow); */
  border: var(--primary-border);
  font-size: var(--primary-font-size);
}

/* CSS Gradients */
.linear-vertical {
  margin-top: 4rem;
  margin-left: 4rem;
  width: 100px;
  height: 100px;
  border: 1px solid green;
  background-image: linear-gradient(red, yellow);
}

/* styling kenyan */
.kenyan-flag {
  width: 400px;
  height: 200px;
  margin: 0;
  padding: 0;
  border: 1px solid white;
  border-radius: 2px;
}

.black {
  width: 200px;
  height: 30px;
  border: 1px solid #fff;
  background-image: linear-gradient(to right, black, black);
}
.first-white-strip {
  width: 50px;
  height: 5px;
  border: 1px solid white;
  background-image: linear-gradient(to right, white white);
}

.red {
  width: 200px;
  height: 30px;
  border: 1px solid red;
  background-image: linear-gradient(to right, red, red);
}
.second-white-strip {
  width: 50px;
  height: 5px;
  border: 1px solid white;
  background-image: linear-gradient(to right, white white);
}

.green {
  width: 200px;
  height: 30px;
  border: 1px solid green;
  background-image: linear-gradient(to right, green, green);
}

.green2 {
  width: 200px;
  height: 30px;
  border: 1px solid green;
  background-image: linear-gradient(
    to bottom right,
    yellow,
    rgba(180, 79, 183, 0.5)
  );
}

.repeating-linear {
  width: 200px;
  height: 30px;
  border: 1px solid green;
  background-image: repeating-linear-gradient(yellow, green 20%, red 30%);
}

/* .radial{
  width: 200px;
  height: 100px;
  border: 1px dashed blue;
  background-image: radial-gradient(red, green, yellow);
} */

/* .radial{
  width: 200px;
  height: 100px;
  border: 1px dashed blue;
  background-image: radial-gradient(#090 
  40%, #fff, #2a4f32);
} */

.radial {
  width: 200px;
  height: 100px;
  border: 1px dashed blue;
  background-image: repeating-conic-gradient(
    from 45deg at 50% 50%,
    #009900ff 0%,
    #ffffffff 10%,
    #2a4f32ff 20%
  );
}

/* CSS DISPLAY  */
.block {
  display: inline-block;
}
.inline {
  display: none;
}

/* USING FLEXBOX */
.flex-container {
  display: flex;
  flex-direction: row-reverse;
}
.flex-item {
  /* width: 100px;
  height: 20px; */
  background-color: red;
}
.flex-item-2 {
  /* width: 100px;
  height: 20px; */
  color: white;
  background-color: rgb(0, 21, 255);
}

.second-flex {
  width: 800px;
  height: 200px;
  border: 1px solid purple;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: center;
  /* align-content: flex-end; */
  /* flex-wrap: wrap; */
}
.box-1 {
  align-self: flex-start;
  /* flex-basis: 100px;
  flex-grow: 2; */
  /* order: 3; */
  width: 100px;
  height: 100px;
  background-color: aqua;
}

.box-2 {
  /* flex-grow: 3;
  order: 1; */
  width: 100px;
  height: 100px;
  background-color: rgb(28, 147, 7);
}
.box-3 {
  /* flex-grow: 1; */
  width: 100px;
  height: 100px;
  background-color: rgb(207, 184, 12);
}
.box-4 {
  /* flex-grow: 2; */
  width: 100px;
  height: 100px;
  background-color: rgb(147, 18, 93);
}

/* CSS GRID  */
.grid-container{
  display: grid;
  /* grid-template-columns: 95px 1fr; */
  /* grid-template-columns: 15%  60% 25%; */
  /* column-gap: 25px; */
  /* grid-auto-columns: 150px; */
  /* grid-template-rows: 95px 1fr 70px; */
   grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
 
  /* justify-content: space-between; */
  /* justify-items: end; */
  /* align-content: start; */
  /* row-gap: 20px; */
  /* grid-auto-rows: 100px; */
  background-color: yellow;
  margin: 10px;
  padding: 7px;
}

.second-grid{
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-rows: 70px 10px minmax(70px, 250px);
  /* grid-template-areas: "firstblack firstblack firstblack"; */
  grid-template-areas: 
  "header header . ."
  "sidebar sidebar sidebar sidebar"
  "article article article article"
  "footer footer footer footer";
  ;
  /* align-items: end; */
  justify-items: start;
  /* align-content: end; */
  /* color: white !important; */
  width: 800px;
  height: 400px;
  background-color: #ff4500;
  margin: 10px;
  padding: 10px;
}

.grid-item{
  background: #fff;
  transition-property: background;
  border-radius: 10px;
  /* height: 200px; */
  /* transition-duration: 10s;  */
  /* transition-timing-function: ease-in-out, border-radius;  */
  /* transition-delay: 20s; */
  transition: background 15s ease-out, border-radius, 20s ease-in;
  /* grid-row: 1/5; */
  /* grid-row-start: 1; */
  /* grid-row-end: span 3; */
  /* grid-column-start: 2; */
  width: 100px;
  height: 100px;
  /* background-color: #e50046; */
}
.grid-item:hover{
  backround: blue;
  border-radius: 50%;
}
.grid-item-2{
  /* grid-column-start: 3; */
  /* grid-row-start: 3; */
  width: 100px;
  height: 100px;
  background-color: #6bca0b;
}

.grid-item-3{
  /* grid-column: 1/3; */
  /* grid-column-start: 1; */
  /* grid-row-start: 2; */
  /* grid-column-end: 3; */
  /* grid-row-end: 2; */
  width: 100px;
  height: 100px;
  background-color: hsl(244, 81%, 31%);
}

/* .grid-item-2{
  justify-self: center;
} */

.grid-1{
  justify-self: center;
  grid-area: header;
  /* grid-column-start: 2; */
  /* grid-column-start: span 3; */
  /* grid-column-end: span 4; */
  width: 100px;
  height: 100px;
  background-color: #000;
}
.grid-2{
  align-self: center;
  grid-area: sidebar;
  /* grid-area: firstblack; */
  
  /* grid-row-start:  3; */
  /* grid-row-end: 5; */
  /* grid-row: 3/5; */
  /* grid-row-start: span  3; */
  /* grid-row-end: 4; */
  width: 100px;
  height: 100px;
  background-color: #fff;
}

.grid-3{
  align-self: center;
  grid-area: article;
  width: 100px;
  height: 100px;
  background-color: yellow;
}
.grid-4{
  grid-area: footer;
  width: 100px;
  height: 100px;
  background-color: purple;
}

.transit{
  border: 0;
  background: #0087cc;
  border-radius: 4px;
  box-shadow: 0 5px 0 #006599;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s ease-in;
}
.transit:hover{
  box-shadow: 0 2px 0 #006599;
  transform: scale(2);
}

body {
  font: 600 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
  margin: 12px 0;
}
.card-container {
  cursor: pointer;
  height: 150px;
  perspective: 600;
  position: relative;
  width: 150px;
}
.card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
}
.card:hover {
  transform: rotateY(180deg);
}
.card .side {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.card .back {
  background: #eaeaed;
  color: #0087cc;
  line-height: 150px;
  text-align: center;
  transform: rotateY(180deg);
}

/* Animations */
@keyframes slide {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 244px;
    top: 100px;
  }
  100% {
    left: 488px;
    top: 0;
  }
}
.stage {
  background: #eaeaed;
  border-radius: 6px;
  height: 150px;
  position: relative;
  min-width: 538px;
}

.stage:hover .ball {
  /* animation-name: slide; */
  /* animation-duration: 2s; */
  /* animation-timing-function: ease-in-out; */
  /* animation-delay: .5s; */
  animation: slide 2s linear;
  /* animation-iteration-count: infinite; */
  /* animation-direction: reverse; */
  /* animation-direction: alternate; */
  /* animation-direction: alternate-reverse; */
  /* animation-fill-mode: forwards; */
  animation-fill-mode: backwards;
  
}

.stage:active .ball {
  animation-play-state: paused;
}

.ball {
  background: #2db34a;
  border-radius: 50%;
  height: 50px;
  position: absolute;
  width: 50px;
}