/* cascading style sheet */
/* .first-style{
    color: red;
} */

/* article p:first-of-type{
    color: red;
}
article p:last-of-type{
    color: green;
} */

/* Universal Selector */
/* *{
    color: red;
} */

/* Type Selector  */
/* article {
    color: yellow;
} */

/* Class Selectors */
/* .p-1 {
   color: red; 
} */

/* .p-2{
    color: green;
} */

/* ID Selectors  */
/* #first-id{
    color: blue;
} */

/* Attribute Selectors  */
/* [data-type="primary"]{
    color: aqua;
} */
/* [data-type]{
    color: darkorchid;
} */

/* [href="https://mountkenyawe.co.ke/"]{
    color: red;
} */

/* [href^="https"]{
    color: burlywood;
} */

[data-type="primary"],
article,
mark,
#first-id {
  color: aqua;
}

#first-id:hover {
  color: red;
}

/* p:nth-child(even){
    background-color: blue;
} */

/* Pseudo-elements differ from pseudo-classes because instead of responding to the platform state, they act as if they are inserting a new element with CSS. Pseudo-elements are also syntactically different from pseudo-classes, because instead of using a single colon (:), we use a double colon (::). */
.p-1::after {
  content: " -20";
}
li::marker {
  content: "- ";
  color: red;
}

mark::selection {
  background-color: white;
}

li::selection {
  background-color: rgb(50, 211, 5);
}

/* any h3 descendant of .sec-1  */
/* .sec-1 h3{
    color: darkorange;
} */

/* direct h3 descendant of .sec-1 */
/* .sec-1 > h3{
    color: darkorange;
} */

.sec-1 > div > h3 {
  color: darkorange;
}

/* Next Sibling Selector */
.next-sibling > p {
    color: yellow;
    margin-top: 2.5em;
}

li:first-of-type + li{
    color: rosybrown;
    font-weight: bold;
}

li:has(+ li:last-of-type){
    color: green;
    font-size: 3rem;
}

.li * {
    margin-top: 4rem;
}
/* relative unit  */
/* body{
    font-size: 60px;
} */
/* absolute units  */
.bld{
    font-size: 3rem;
}

.absolute-unit{
    font-size: 12px;
    border: 1px dashed red;
}
.em-unit{
    font-size: 6em;
}