
/* cascading style sheet */
/* Declaring CSS Variables */
:root{
  --yellow-yellow: yellow;
  --primary-font-size: 2.5rem;
  --primary-border: 2px dashed green;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .first-style{
    color: red;
} */

/* article p:first-of-type{
    color: red;
}
article p:last-of-type{
    color: green;
} */

/* Universal Selector */
/* *{
    color: red;
} */

/* Type Selector  */
/* article {
    color: yellow;
} */

/* Class Selectors */
/* .p-1 {
   color: red; 
} */

/* .p-2{
    color: green;
} */

/* ID Selectors  */
/* #first-id{
    color: blue;
} */

/* Attribute Selectors  */
/* [data-type="primary"]{
    color: aqua;
} */
/* [data-type]{
    color: darkorchid;
} */

/* [href="https://mountkenyawe.co.ke/"]{
    color: red;
} */

/* [href^="https"]{
    color: burlywood;
} */

[data-type="primary"],
article,
mark,
#first-id {
  color: aqua;
}

#first-id:hover {
  color: red;
}

/* p:nth-child(even){
    background-color: blue;
} */

/* Pseudo-elements differ from pseudo-classes because instead of responding to the platform state, they act as if they are inserting a new element with CSS. Pseudo-elements are also syntactically different from pseudo-classes, because instead of using a single colon (:), we use a double colon (::). */
.p-1::after {
  content: " -20";
}
li::marker {
  content: "- ";
  color: red;
}

mark::selection {
  background-color: white;
}

li::selection {
  background-color: rgb(50, 211, 5);
}

/* any h3 descendant of .sec-1  */
/* .sec-1 h3{
    color: darkorange;
} */

/* direct h3 descendant of .sec-1 */
/* .sec-1 > h3{
    color: darkorange;
} */

.sec-1 > div > h3 {
  color: darkorange;
}

/* Next Sibling Selector */
.next-sibling > p {
  color: yellow;
  margin-top: 2.5em;
}

li:first-of-type + li {
  color: rosybrown;
  font-weight: bold;
}

li:has(+ li:last-of-type) {
  color: green;
  font-size: 3rem;
}

.li * {
  margin-top: 4rem;
}
/* relative unit  */
/* body{
    font-size: 60px;
} */
/* absolute units  */
.bld {
  font-size: 3rem;
}

.absolute-unit {
  font-size: 12px;
  border: 1px dashed red;
}
.em-unit {
  font-size: 6em;
}

/* absolut units "px" */
/* The root element is always <html> */
/* html{
    font-size: 48px;
} */

/* .def-font{
    font-size: 30px;
}  */

/* Relative Units - They change relative to other elements size*/
/* root em - rem 
em  -  fully changes relative to parent element of the children elements
%  - changes relative to the normal width of a parent container
vw 
vh */
.child-el-1 {
  font-size: 3rem;
}

.child-el-2 {
  font-size: 1.5rem;
}

.child-el-3 {
  font-size: 5rem;
}

.em-font {
  font-size: 20px;
}

.em-1 {
  font-size: 1.5em;
}

.btn-em {
  font-size: 0.8em;
}

.img-el {
  width: 100%;
  border: 1px solid red;
}

img {
  width: 33.33%;
  height: 70vh;
}

.vw-vh {
  width: 33.33vw;
  height: 70vh;
}

/* Box Model  */
/* .box-model {
  position: relative;
  left: 50px;
  top: 50px;
  width: 100px;
  height: 50px;
  padding: 1.5rem;
  border: 5px solid rgb(84, 4, 244);
} */



/* padding  */
/* .home{ */
/* padding: 3rem 0.5rem 6rem 2rem; */
/* padding-top: 3rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-bottom: 2rem; */
/* } */

/* margin  */
/* .home{ */
/* margin: 3rem 0.5rem 2rem 4rem; */
/* margin-top: 3rem;
    margin-right: 0.5rem;
    margin-bottom: 2rem;
    margin-left: 4rem; */
/* } */

.home {
  padding: 4rem;
}

.nav {
  border: 2px dashed red;
}

.border{
  margin-bottom: 1rem;
  font-size: 0.8rem;
  background-color: red;
  color: white;
  border: 1px solid red;
  /* border-width: 1px;
  border-style: solid;
  border-color: red; */
  border-radius: 2px;
  box-sizing: border-box;
}

/* CSS Positioning  */
.box-model {
  position: fixed;
  right: 100px;
  /* top: 50px; */
  width: 100px;
  height: 50px;
  padding: 1.5rem;
  border: 5px solid rgb(84, 4, 244);
}
.relative{
  position: relative;
  width: 100px;
  height: 50px;
  border: 1px solid red;
}
.absolute{
/* position: absolute; */
bottom: 60px;
}

.sticky{
  position: sticky;
  color: var(--yellow-yellow);
  /* color: #fff; */
  padding: 0.5rem;
  top: 20px;

  /* background-color: var(--yellow-yellow); */
  /* background-color: aqua; */
  border: 1px dotted yellow;
}

/* CSS VARIABLES */
/* Using CSS Variables  */
.css-variable{
  color: #E50046;
  background-color: rgba(0, 255, 0, 0.5);
  /* background-color: var(--yellow-yellow); */
  border: var( --primary-border);
  font-size: var(--primary-font-size);
}

/* CSS Gradients */
.linear-vertical{
  margin-top: 4rem;
  margin-left: 4rem;
  width: 100px;
  height: 100px;
  border: 1px solid green;
  background-image: linear-gradient(red, yellow);
}

/* styling kenyan */
.kenyan-flag{
  width: 400px;
  height: 200px;
  margin: 0;
  padding: 0;
  border: 1px solid white;
  border-radius: 2px;
}

.black{
  width: 200px;
  height: 30px;
  border: 1px solid #fff;
  background-image: linear-gradient(to right, black, black);
}
.first-white-strip{
  width: 50px;
  height:5px;
  border: 1px solid white;
  background-image: linear-gradient(to right, white white);
}

.red{
  width: 200px;
  height: 30px;
  border: 1px solid red;
  background-image: linear-gradient(to right, red, red);
}
.second-white-strip{
  width: 50px;
  height:5px;
  border: 1px solid white;
  background-image: linear-gradient(to right, white white);
}

.green{
  width: 200px;
  height: 30px;
  border: 1px solid green;
  background-image: linear-gradient(to right, green,  green);
}

.green2{
  width: 200px;
  height: 30px;
  border: 1px solid green;
  background-image: linear-gradient(to bottom right, yellow,rgba(180, 79, 183, 0.5));
}

.repeating-linear{
  width: 200px;
  height: 30px;
  border: 1px solid green;
  background-image: repeating-linear-gradient(yellow, green 20%, red 30%);
}




